force-app/main/default/flows/Convert_MultiPickList_to_Collection_Variable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_data_for_single_record</name>
        <label>Add data for single record</label>
        <locationX>1057</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>Collection_Variable_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counter_size_second</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>390</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>Collection_Variable_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Counter_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Used_Id_from_IDs</name>
        <label>Remove Used Id from IDs</label>
        <locationX>847</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>Ids_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remaining_IDS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_data_for_single_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Counter_size</name>
        <label>Check Counter size</label>
        <locationX>588</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Used_Id_from_IDs</targetReference>
            </connector>
            <label>Greater than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Counter_size_second</name>
        <label>Counter size second</label>
        <locationX>719</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_1_second</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_size</targetReference>
            </connector>
            <label>Greater than 1_second</label>
        </rules>
    </decisions>
    <formulas>
        <name>Counter</name>
        <dataType>Number</dataType>
        <expression>CEILING({!Lenght}/20)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Lenght</name>
        <dataType>Number</dataType>
        <expression>LEN({!Ids_String})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Remove first ID</description>
        <name>Remaining_IDS</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!Ids_String},({!Lenght}-19) ))</expression>
    </formulas>
    <formulas>
        <name>Single_IDs</name>
        <dataType>String</dataType>
        <expression>LEFT({!Ids_String},18)</expression>
    </formulas>
    <interviewLabel>Convert MultiPickList to Collection Variable {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Convert MultiPickList to String Collection Variable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection_Variable_Text</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ids_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
